<header class="p-4 bg-white flex justify-around sticky top-0 shadow">
    <h1 class="text-3xl text-blue-600 font-bold">ParkGo</h1>
    <nav class="flex gap-4 items-center text-gray-700">
        <a class="font-bold" routerLink="inicio" routerLinkActive="active"> <i class="pi pi-home"></i> Inicio</a>
        <a class="font-bold" routerLink="nosotros" routerLinkActive="active"> <i class="pi pi-info-circle"></i> Nosotros</a>
        <a class="font-bold" routerLink="servicios" routerLinkActive="active"> <i class="pi pi-box"></i> Servicios</a>
        <a class="font-bold" routerLink="contacto" routerLinkActive="active"> <i class="pi pi-address-book"></i> Contacto</a>
        <a class="font-bold" routerLink="registrarse" routerLinkActive="active"> <i class="pi pi-user-plus"></i> Registrarse</a>
        <a class="font-bold" routerLink="ingresar" routerLinkActive="active"> <i class="pi pi-sign-in"></i> Ingresar</a>
    </nav>
</header>