<app-header-dashboard />
<section class="min-h-screen bg-gray-50 p-6 md:p-10 flex justify-center items-start">
    <div class="bg-white shadow-lg rounded-2xl p-8 w-full max-w-lg">
        <h2 class="text-2xl font-bold text-blue-700 mb-6 text-center">
            Registrar Vehículo
        </h2>

        <form>
            <!-- Placa -->
            <div class="mb-5">
                <label class="block text-gray-700 font-medium mb-2">Placa</label>
                <input type="text" placeholder="Ej: ABC-123" [(ngModel)]="vehiculo.placa" name="placa"
                    class="w-full border border-gray-300 rounded-xl p-3 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>

            <!-- Cilindraje -->
            <div class="mb-5">
                <label class="block text-gray-700 font-medium mb-2">Cilindraje</label>
                <input type="number" placeholder="Ej: 1600" [(ngModel)]="vehiculo.cilindraje" name="cilindraje"
                    class="w-full border border-gray-300 rounded-xl p-3 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>

            <!-- Botón -->
            <div class="grid md:grid-cols-2 gap-1">
                <button type="button"
                    routerLink="/dashboard-cliente"
                    class="bg-red-600 text-white px-8 py-3 rounded-xl font-semibold hover:bg-red-700 transition cursor-pointer">
                    Cancelar
                </button>
                <button type="button" (click)="registrarVehiculo()"
                    class="bg-blue-600 text-white px-8 py-3 rounded-xl font-semibold hover:bg-blue-700 transition cursor-pointer">
                    Registrar Vehículo
                </button>
            </div>
        </form>
    </div>
</section>